# Node
node_modules/
backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/yarn-error.log
npm-debug.log*
yarn-error.log
package-lock.json

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Build / coverage (si ajoutés plus tard)
dist/
coverage/

# Misc
.env
.env.*

# Database
backend/database.sqlite
